@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.clrflt{
    clear: both;
}


/*common css*/
a:focus,a:hover,a,a:visited {
    outline:none;
    text-decoration: none;
}
li,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

input:focus,.form-control:focus{
    outline: 0;
    box-shadow: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
     -webkit-box-shadow: 0 0 0 18px white inset !important;
     -webkit-text-fill-color: #333!important;
}

@font-face {
  font-family: P22MackinacPro;
  src: url("../fonts/P22MackinacPro.otf");
}
@font-face {
  font-family: sofiapro;
  src: url("../fonts/sofiapro-light.otf");
}


body{
  font-family: 'P22MackinacPro', sans-serif !important;
  font-size: 20px !important;
  color:#020f0f;
  line-height: normal;
}
img{
  max-width: 100%;
  width: 100%;
}
h1{
  font-size: 64px;
   margin: 0;
}
h2 {
  font-size: 56px;
  margin: 0;
}
h3{
  font-size: 40px;
  margin: 0;
}
h4{
  font-size: 36px;
  margin: 0;
}
h5{
  font-size: 32px;
  margin: 0;
}
h6{
  font-size: 25px;
  margin: 0;
}
p{
  font-size: 24px;
}
button.btn-waitlist,
button.btn-waitlist:hover,
button.btn-waitlist:focus,
button.btn-waitlist:active,
button.btn-waitlist:active:focus{
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 6px 14px 27px 0 rgb(20 29 31 / 29%);
  background-color: #ec5858;
  color: #fff;
  border: none;
  font-family: 'sofiapro';
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0px auto;
  display: block;
  outline: 0;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: transparent;
}

/*section 6*/
.how-works-info{
  margin: 16px 0 40px;
}
.card {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.cards .card:nth-child(odd) .card__text,.cards .card:nth-child(even) .card-text{
  display: flex;
  flex-direction: column;
}

.cards .card:nth-child(odd) .card__text .card-title{
  width: 457px;
  margin-right: 60px;
}
.cards .card:nth-child(even) .card__text .card-title{
  width: 510px;
  margin-left: 40px;
}
.card-image{
  position: relative;
  padding: 0;
  width: 55%;
}
.cards .card:nth-child(even) .card-image{
  padding: 0;
}
/*.cards .card:nth-child(even) .card-image img{
  margin: 0;
  width: 100%;
  max-width: 495px;
}
*/
.card-image img {
    margin: 0 auto;
    width: 570px;
}
.card-img-text{
  background-color: #fff;
  padding: 10px 20px;
  position: absolute;
  top: 7px;
  right: -205px;
  width: 320px;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
}
.card-img-text p{
  font-size: 14px;
}
.card-title h5{
  font-weight: 700;
}
.card-title  p,.ecosystem-for-buisness p{
  font-size: 18px;
  padding: 15px 0;
}
.talent-1{
  position: relative;
  z-index: 99;
  right: 0px;
}
.talent-2{
  position: absolute;
  right: -43px;
  z-index: 9;
  top: 20px;
}
.talent-3{
  position: absolute;
  right: -115px;
  top: 49px;
}
.talent-name{
  color: #fff;
  position: absolute;
  bottom: 55px;
  left: 60px;
}
.talent-name p{
  font-size: 16px;
}
.cards .card:last-child .talent-name{
  color: #2F2F2F;
}
.cards .card:last-child .talent-name h5{
  font-size: 22px;
  font-weight: 700;
}
.card__text button.btn-waitlist{
  margin: 0;
}
.how-it-works h3{
  font-size: 32px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: -0.48px;
}
.how-it-works p{
  font-family: SofiaPro;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.09px;
  margin: 0;
}
.card__text .card-title h5{
  font-size: 36px;
  line-height: normal;
  letter-spacing: -0.72px;
}
.card__text .card-title p{
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  padding: 0;
  margin: 24px 0 32px
}
/*header*/
.navbar {
  min-height: 90px;
  margin-bottom: 0;
  padding:0 70px;
}
.navbar-brand {
  padding-top: 33px;
  padding-bottom: 0;
  height: 30px;
}
.navbar-nav>li>a {
  padding: 0;
  padding-top: 40px;
  padding-bottom: 0;
  color: #1A1A1A;
  margin: 0px 20px;
  font-family: 'sofiapro';
  font-size: 14px;
  font-weight: 600;
}
.navbar-nav>li:last-child{
  position: absolute;
  right: 0px;
}
.navbar-nav>li:last-child a{
  font-family: P22MackinacPro;
  font-size: 18px;
  letter-spacing: -0.72px;
  color: #ec5858;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background: transparent;
}
header{
  background-color: #fff9f5;
}
.logo img{
  width: auto!important;
}
.modal-dialog{
  width: 1200px;
}
.modal-header .close {
    font-size: 50px;
}


/*footer*/
footer {
  padding: 35px 72px 25px;
  font-family: sofiapro;
}

footer,footer ul li a,footer ul li a:hover{
  background: #000;
  color: #fff;
}
footer .social-media ul li,.footer-links ul{
  display: inline-block;
}
.footer-links ul {
  vertical-align: top;
  margin: 0px;
}
.footer-links ul:last-child {
    margin-right: 0px;
}
.footer-links ul li {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
  margin: 0 24px 0 0;
}
.footer-links ul li a{
  font-size: 16px;
  letter-spacing: -0.24px;
  color: #e5ece9;
  font-weight: 400;
}

.footer-description ul{
  margin-top: 30px;
  margin-bottom: 15px;
}

.footer-description ul li{
  margin-bottom: 15px;
}

.copyrights{
  border-top: 1px solid #fff;
  opacity: 0.8;
}
.copyrights p {
  font-size: 14px;
  font-weight: 500;
  padding: 16px 0 0;
  margin-bottom: 0;
  color: #e5ece9;
}
.footer-description ul li a{
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #e5ece9;
}
.footer-description ul li.email a {
  font-family: P22MackinacPro;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-top: 12px;
}
.footer-1{
  margin-bottom: 30px;
}

/*semi footer section*/
.semi-footer{
  background-color: rgba(81, 116, 124, 0.97);
}
.semi-footer h1{
  font-family: P22MackinacPro;
  font-size: 64px;
  font-weight: 500;
  padding: 80px 0 0;
  line-height: normal;
  letter-spacing: -2.56px;
  text-align: center;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
}

.semi-footer button,
.semi-footer button:hover,
.semi-footer button:focus,
.semi-footer button:active,
.semi-footer button:active:focus{
  box-shadow: 6px 14px 27px 0 rgb(20 29 31 / 29%);
  font-size: 24px;
  letter-spacing: 1px;
  max-width: 300px;
  width: 100%;
  margin: 50px auto 80px;
  font-family: P22MackinacPro;
}

/*section 1*/
.main-banner{
  position: relative;
  min-height: 850px;
}
.company-list,.main-banner,.who-we-are{
  background-color: #fff9f5;
}
.join-community{
  background-color: #ffeddf;
}
.main-banner-text{
  position: absolute;
  text-align: center;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 725px;
  width: 100%;
}
.main-banner-text h2{
  line-height: 1.29;
  letter-spacing: -1.12px;
  color: #33575f;
}
.main-banner-text h5{
  font-family: 'sofiapro';
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.24px;
  color: #33575f;
  margin: 32px auto;
}
.main-banner figure{
  position: absolute;
  bottom: -55px;
  left: 70px;
}
/*section 1*/
/*section 4*/
.more-power-to-girls{
  background-color: #ec5858;
  padding-top: 60px;
}
.more-more-to-girl-text h3,.more-more-to-girl-text p{
  color: #fffdf1;
}
.more-more-to-girl-text p{
  font-family: 'sofiapro';
  font-size: 20px;
  line-height: 1.4;
}
.more-more-to-girl-text .power-text{
  max-width: 729px;
  margin: 25px auto 55px;
  width: 100%;
}
.more-more-to-girl-text .power-text p:first-child{
  margin-bottom: 25px;
}
.who-we-are {
    padding: 84px 0 0;
}
.who-we-are h3{
  margin: 0 0 24px 0;
  color: #020f0f;
  font-weight: bold;
}
.who-we-are p{
  font-family: 'sofiapro';
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.2px;
  color: #020f0f;
}
.who-we-are-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.who-we-are-text{
  max-width: 470px;
  width: 100%;
}
.who-we-are-img figure{
    width: 485px;
}
/*section 4*/
/*section 2*/
.female-leader-company{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company-list h6{
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.24px;
  color: #020f0f;
  margin: 20px 0 40px;
}
/*section 2*/
/*section 5*/
.curated-masterclasses{
  padding: 60px 0;
}
.curated-masterclasses h4{
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -1.08px;
  color: #020f0f;
}
.curated-masterclasses p{
  font-family: 'sofiapro';
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #000;
  margin: 24px 0 48px;
}
.curated-masterclasses .masterclas-info {
  position: absolute;
  bottom: 5px;
  color: #fff;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 250px
}
.curated-masterclasses .masterclas-info h6{
  font-family: 'P22MackinacPro';
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.36px;
  color: #fff9f5;
}
.curated-masterclasses .masterclas-info p{
  font-family: 'sofiapro';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.21px;
  color: #fff;
  margin: 12px 0 0;
}
.highlight{
  color: #ec5858;
}
/*section 5*/
/*section 7*/
.join-community{
  padding: 60px 0;
}
.join-community h3{
  line-height: normal;
  letter-spacing: -2px;
  text-align: center;
  color: #020f0f;
  max-width: 685px;
  margin: 0 auto;
}
.community-section-number{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}
.community-section-number .community-number h1{
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #ec5858;
  font-weight: bold;
}
.community-section-number .community-number p{
  font-family: 'sofiapro';
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  color: #020f0f;
}
.community-number{
  position: relative;
  padding: 0 73px;
}
.community-number:last-child:after{
  display: none;
}
.community-number:after {
  content: "";
  border: 0.1px solid #020f0f;
  position: absolute;
  top: -10px;
  right: 0;
  height: 130%;
}

/*section 7*/

/*1366*/
@media (max-width: 1366px){
.main-banner figure {
  position: absolute;
  bottom: -55px;
  left: 0;
}
.navbar-nav>li:last-child {
   right: 15px;
}
}

/*1024*/
@media (max-width: 1024px){
.community-number {
  position: relative;
  padding: 0 50px;
}
.navbar-nav>li>a, .country-selected {
  margin: 0 10px;
}
.navbar-nav>li:last-child a {
  font-size: 16px;
}
.company-name {
  margin: 0 10px;
}
}

/*991*/
@media (max-width: 991px){
.main-banner {
  position: relative;
  min-height: 800px;
}
.main-banner figure {
  position: absolute;
  bottom: 0;
  left: 0;
}
.masterclass {
  margin-bottom: 20px;
}
.cards .card:nth-child(odd) .card__text .card-title,.card-image,
.cards .card:nth-child(even) .card__text .card-title {
  width: 100%;
  margin: 10px 0 20px;
  text-align: center;
}
.card{
  flex-direction: column-reverse;
  margin: 0;
}
.cards .card:nth-child(even){
  flex-direction: column;
  margin: 0;
}
.community-number {
  padding: 0 20px;
}
footer {
  padding: 35px 0px 25px;
}
.footer-description ul li.email a{
  font-size: 16px;
}
.who-we-are h3,.more-more-to-girl-text h3,.join-community h3 {
  font-size: 36px;
}
.who-we-are p,.more-more-to-girl-text p,.curated-masterclasses p,.card__text .card-title p{
  font-size: 14px;
}
.curated-masterclasses h4,.card__text .card-title h5 {
  font-size: 32px;
}
.semi-footer h1 {
  font-size: 48px;
}
}


@media only screen  and (max-width : 896px) and (orientation : landscape) {
.navbar-nav>li>a,.navbar-nav>li:last-child a{
  font-size: 12px;
}
.navbar-nav>li:last-child {
  right: 0px;
}
}

/*768*/
@media (max-width: 768px){
.navbar-toggle .icon-bar {
  border: 1px solid #2C2B3C;
}
.navbar {
  padding: 0 20px;
}
.navbar-nav>li>a, .navbar-nav>li:last-child a {
    font-size: 10px;
    margin: 0 5px;
    padding: 40px 0 50px;
}
.navbar-nav>li:last-child {
  right: 0px;
}
.navbar-nav>li:last-child,.main-banner-text{
  position: unset;
  transform: none;
}
.navbar-toggle{
  margin-top: 30px;
}
.main-banner-text h2 {
  font-size: 46px;
  line-height: normal;
}
.main-banner-text h5 {
  font-size: 16px;
}
button.btn-waitlist, button.btn-waitlist:hover, button.btn-waitlist:focus,
button.btn-waitlist:active, button.btn-waitlist:active:focus{
  max-width: 100%;
  width: 100%;
  font-size: 18px;
}
.navbar-brand {
  max-width: 100px;
  padding-top: 40px;
}
}

/*767*/
@media (max-width: 767px){
.female-leader-company{
  display: block;
}
.company-name {
  margin: 0 10px;
  vertical-align: middle;
  display: inline-block;
}
.company-name  figure {
  margin: 0 auto;
  width: 100px;
}
.community-section-number{
  flex-direction: column;
  margin-top: 20px;
}
.community-number:after{
  display: none;
}
.community-number,.footer-description{
  margin-bottom: 40px;
}
.community-number {
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
  /*width: 100%;*/
}
.community-section-number .community-number:last-child{
  border-bottom:none;
}
.who-we-are-main {
  flex-direction: column;
  text-align: center;
}
.who-we-are {
  padding: 44px 0 0;
}
.who-we-are-text{
  max-width: 100%;
  margin: 20px 0;
}
.who-we-are-img figure{
  width: 100%;
}
.navbar-nav>li>a, .navbar-nav>li:last-child a{
  padding: 10px 0;
}
.main-banner{
  min-height: 650px;
}
.footer-links ul li {
  margin: 10px 30px 0 0;
}
.community-section-number .community-number h1{
  font-size: 42px;
}
.semi-footer h1 {
  font-size: 42px;
}
.main-banner-text h2{
  font-size: 42px;
}
}

/*480*/
@media (max-width: 480px){
.company-name  figure {
  width: 50px;
}
}

/*320*/


/*account activation css start*/
.account-activation-main {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
}

.account-activation-main .left-area {
width: 50%;
}

.account-activation-main .left-area,.account-activation-main .right-area {
max-width: 50%;
width: 100%;
}
.login-form-new,.reset-password{
padding: 72px 82px;
}

.login-form-new input,.reset-password input{
border: 1px solid #84a6ae;
box-shadow: none;
background: transparent;
color: #333;
border-radius: 0;
}

.log-in-btn,.submit-btn, .reset-btn,.submit-btn:hover,.submit-btn:focus,.submit-btn:active:focus{
display: block;
border-radius: 4px;
background-color: rgba(81, 116, 124, 0.97);
margin: 48px auto 60px;
width: 100%;
padding: 15px 40px;
border: none;
outline: 0;
font-family: 'sofiapro';
font-size: 20px;
font-weight: 600;
line-height: normal;
letter-spacing: -0.5px;
}

.footer-login .terms-conditions span {
display: inline-block;
margin: 0 5px;
}

.login-form-new a,.footer-login .terms-conditions span a,.footer-login .terms-conditions span{
color: #333;
font-size: 14px;

}
.login-form-new label {
max-width: 100%;
margin-bottom: 0;
font-family: sofiapro;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: -0.4px;
color: #626262;
margin-bottom: 5px;
}

.login-form-new .form-group,.reset-password .form-group{
margin-top: 15px;
}

.login-form-new a.enroll-now{
font-size: 15px;
}
.login-form-new h3{
font-size: 48px;
font-weight: bold;
line-height: 1;
letter-spacing: -1.48px;
}

.login-form-new p{
font-family: sofiapro;
font-size: 16px;
line-height: 1.4;
letter-spacing: -0.22px;
color: #2f2f2f;
margin: 24px 0;
}
.footer-note p{
font-size: 14px;
line-height: 1.4;
letter-spacing: normal;
color: #2f2f2f;
max-width: 450px;
width: 100%;
}
.waitlist-mentor .submit-btn{
margin: 48px auto;
background: #ec5858;
}
.waitlist-mentor .login-form-new {
padding: 72px 82px 0;
}
.waitlist-mentor .login-form-new h3{
color: rgba(47, 47, 47, 0.97);
}
.waitlist-mentor .login-form-new p{
max-width: 370px;
width: 100%;
}
.waitlist-mentor .login-form-new .form-group {
margin-top: 15px;
}
.waitlist-mentor .login-form-new .form-group textarea{
resize: none;
border: solid 1px #84a6ae;
}
.waitlist-mentor .login-form-new .footer-note p {
max-width: 450px;
width: 100%;
}
.login-form-new .footer-note a{
text-decoration:underline;
}

@media (max-width: 1024px){
/*account acctivation*/
.login-form-new, .reset-password{
padding: 50px 20px;
}
.login-form-new .form-group, .reset-password .form-group {
margin-top: 34px;
}
.submit-btn{
margin-bottom: 20px;
}
.account-activation-main.waitlist-mentor .left-area img{
height: 100vh;
}
.account-activation-main.waitlist-mentor .login-form-new {
padding: 50px 20px 0;
}
}
@media (max-width: 991px){
/*waitlist user css starts*/
.account-activation-main .left-area{
max-width: 0;
width: 100%;
display: none;
}
.account-activation-main .right-area{
max-width: 100%;
width: 100%;
background: url(images/woman-future.png) no-repeat;
background-size: 100% 100%;
height: 100vh;
padding: 100px 20px 0;
}
.account-activation-main.waitlist-mentor .right-area {
background: url(images/empowered-woman.png) no-repeat;
background-size: 100% 100%;
height: 100%;
}
.right-area h1,.right-area label,.login-form-new a,.login-form-new p{
font-size: 14px;
}
.account-activation-main .right-area h1{
font-size: 16px!important;
}
.account-activation-main .login-form-new{
background: #fff;
padding: 30px;
margin-top: 50px;
}
.account-activation-main .log-in-btn,.registered-email-id .submit-btn,.reset-link .reset-btn {
margin: 30px auto 15px;
}
.login-form-new h3 {
font-size: 30px;
}
.login-form-new .form-group, .reset-password .form-group {
margin-top: 20px;
}

/*waitlist user css starts*/
}
@media (max-width: 768px){
.account-activation-main .login-form-new{
margin-top: 150px;
}
.account-activation-main.waitlist-mentor .right-area {
height: 100vh;
}
}
@media (max-width: 767px){
.account-activation-main .login-form-new {
margin-top: 50px;
}
.account-activation-main.waitlist-mentor .right-area {
height: 100%;
}
.modal-dialog{
  width: auto;
}
.account-activation-main.waitlist-mentor .login-form-new {
    padding-top: 0;
}
.login-form-new h3 {
    font-size: 29px;
}
}
@media (max-width: 480px){
.account-activation-main .login-form-new {
margin-top: 0px;
}
}
/*320*/
@media (max-width: 360px){
.account-activation-main .right-area {
padding: 50px 20px 0;
}
}
/*320*/
@media (max-width: 320px){
.account-activation-main .right-area {
padding: 10px 20px 0;
}
}
/*account activation css end*/
